<a href="https://colab.research.google.com/github/Devinarukula57/2025_khubTasks/blob/main/KhubTasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 01 -
03/08/2025

Python Basics

Variables

In [ ]:
name = "john"
age = 20
is_new = True
print(name)
print(age)
print(is_new)

john
20
True

In [ ]:
a=5
b=7
sum=a+b
print(sum)

12

In [ ]:
a=20
b=60.8
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
int=5
str="joy"
print(int)
print(str)

5
joy

string methods

In [ ]:
a = "Devi Varshini"
print(a[2:5])

vi

In [ ]:
a,b,c = "devi", "sailu" ,"chandini"
print(a,b,c)

devi sailu chandini

In [ ]:
str = "Hello World!"
a = (str.endswith("!"))
print(a)

True

In [ ]:
a = 12
b = 54
c = a+b
print(c)

66

In [ ]:
favorite_movie = "Jersey"
print("My favorite movie is",favorite_movie)

My favorite movie is Jersey

In [ ]:
name = "varshini"
task = "is learing python"
print(name,task)

varshini is learing python

In [ ]:
first_name = "Devi"
last_name = "Narukula"
full_name = first_name +" " +last_name
print(full_name)

Devi Narukula

In [ ]:
str = "hii devi"
print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.title())

HII DEVI
hii devi
Hii devi
Hii Devi

In [ ]:
age = 20
str = f"My is name is Devi, My age is+ {age}"
print(str)

My is name is Devi, My age is 20

In [ ]:
a= "banana"
print(a.count("a"))

3

In [ ]:
a="hello world "
print (a[6:10:3])

wl

In [ ]:
text = "varshini"
print(len(text))

8

boolean

In [ ]:
student = True
factly = False
print(type(student))
print(type(factly))

<class 'bool'>
<class 'bool'>

In [ ]:
print(10 > 9)
print(10 < 9)
print(10 == 9)
print(10 == 9)
print(10 != 9)

True
False
False
False
True

In [ ]:
age = 20
is_teenage = age > 12 and age <= 20
print(is_teenage)

True

opertors
+ (+) Addition	3 + 2	5
-	(-) Subtraction	5 - 2	3
*	(*) Multiplication	4 * 2	8

* /	Division	10 / 2	5.0

* //	Floor Division	10 // 3	3

* %	Modulus (Remainder)	10 % 3	1

*	Exponent (power)	2 ** 3	8

In [ ]:
a = 5
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)

25
-15
100
0.25

In [ ]:
x = 10
print(a>5 and a<20)
print(a<5 or a<20)
print(not(a==10))

False
True
True

In [ ]:
x = 8
y =10
print(x == y)
print(x != y)
print(x > y)
print(x < y)

False
True
False
True

In [ ]:
a = 10
b = 5
print(a+b)
print(a>b)
print(a>5 and b<10)

15
True
True

conditional statements

if startement

In [ ]:
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

if-else statement

In [ ]:
age = 20
if age >= 18:
  print("you are eligible to vote")
else:
  print("you are not eligible to vote")

you are eligible to vote

if-elif-else statement

In [ ]:
int = 7
if int > 0:
  print("int is greater than 7")
elif int == 7:
  print("int is equal to 7")
else:
  print("int is less than 7")

int is greater than 7

 Nested if

In [ ]:
num = 27
if num > 0:
  print("positive number")
  if num % 2 == 0:
    print("even number")
  else:
        print("Odd number")

positive number
Odd number

* Lists

Ordered

Changeable (mutable)

Allow duplicates

In [ ]:
fruits =["apple","cherry","banana"]
print(fruits)

['apple', 'cherry', 'banana']

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

fruits.remove("banana")
print(fruits)

for i in range(len(fruits)):
  print(fruits[i])

fruits.sort()
print(fruits)

fruits = fruits.copy()
print(fruits)

fruits2 =[1,2,3]
fruits3 = fruits + fruits2
print(fruits3)

fruits.pop(2)
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
apple
cherry
orange
['apple', 'cherry', 'orange']
['apple', 'cherry', 'orange']
['apple', 'cherry', 'orange', 1, 2, 3]
['apple', 'cherry']

Tuples

In [ ]:
tuple = ("pen", "book", "pencil")
print(tuple)

('pen', 'book', 'pencil')

In [ ]:
tuple = ("pen", "book", "pencil")
print(tuple[2])

tuple.index("pencil")
print(tuple)

tuple.count("pen")
print(tuple)

pencil
('pen', 'book', 'pencil')
('pen', 'book', 'pencil')

In [ ]:
tuple = ("pen", "book", "pencil")
n = tuple.count("pen")
print(n)

n = tuple.index("book")
print(n)

1
1

Sets

In [ ]:
set = {1, 2, 3, 4}
fruits = {"apple", "banana", "cherry"}
print(set)
print(fruits)

{1, 2, 3, 4}
{'banana', 'cherry', 'apple'}

In [ ]:
set1 = {1, 2, 2, 3}
set2 = {3,4,5}
print(set1)
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3}
{1, 2, 3, 4, 5}
{3}
{1, 2}

Dictionaries

In [ ]:
student = {"name": "devi", "age": 20}
print(student)
print(student["name"])
print(student.get("age"))
student["age"] = 21
print(student)
student["branch"] = "CSE"
print(student)

{'name': 'devi', 'age': 20}
devi
20
{'name': 'devi', 'age': 21}
{'name': 'devi', 'age': 21, 'branch': 'CSE'}

In [ ]:
student = {
    "name": "Devi",
    "age": 20
}
print(student["name"])
print(student.get("age"))
student.pop("college", None)

Devi
20

In [ ]:
thisdict =	{
  "branch": "CSE",
  "collage": "KietW",
  "year": 2027
}
for x in thisdict:
  print(thisdict[x])

CSE
KietW
2027

Match Case
: It is used for pattern matching

In [ ]:
num = 2

match num:
    case 1:
        print("One")
    case 2:
        print("Two")
    case 3:
        print("Three")
    case _:
        print("No match")

Two

In [ ]:
month = 8

match month:
    case 1:
        print("January")
    case 2:
        print("February")
    case 3:
        print("March")
    case 4:
        print("April")
    case 5:
        print("May")
    case 6:
        print("June")
    case 7:
        print("July")
    case 8:
        print("August")
    case 9:
        print("September")
    case 10:
        print("October")
    case 11:
        print("November")
    case 12:
        print("December")
    case _:
        print("Invalid month")

August